Django>=5.1,<6.0
asgiref==3.11.0
django-ckeditor-5==0.2.19
django-js-asset==3.1.2
sqlparse==0.5.5
tzdata==2025.3
pillow==12.1.0
psutil
requests
urllib3
charset-normalizer
idna
certifi
argon2-cffi
argon2-cffi-bindings
cffi
pycparser
MarkupSafe
Jinja2
PyYAML
python-dateutil
six
typing_extensions
anyio
sniffio
h11
httpcore
httpx
beautifulsoup4
soupsieve
bleach
webencodings
html5lib
defusedxml