[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/srv/kolab-django/myvenv/bin/uwsgi -i /srv/kolab-django/.config/uwsgi/kolab.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target